<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pelangiaquscape">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".TestUI.TestUIActivity">

        </activity>
        <activity android:name=".TestUI.TestNotif">

        </activity>
        <activity android:name=".Utils.NotificationUtils"></activity>
        <activity android:name=".PusatBantuanPegawaiActivity"></activity>
        <activity android:name=".PusatBantuanPrinterActivity" />
        <activity android:name=".PusatBantuanAkunTokoActivity" />
        <activity android:name=".PusatBantuanAkunActivity" />
        <activity android:name=".PusatBantuanPemberitahuanActivity" />
        <activity android:name=".PusatBantuanRekapActivity" />
        <activity android:name=".PusatBantuanLaporanActivity" />
        <activity android:name=".PusatBantuanMitraBisnisActivity" />
        <activity android:name=".PusatBantuanPenerimaanActivity" />
        <activity android:name=".PusatBantuanTambahBarangActivity" />
        <activity android:name=".SyaratKetentuanAplikasiActivity" />
        <activity android:name=".CariBluetoothActivity" />
        <activity android:name=".PrinterActivity" />
        <activity android:name=".PengaturanActivity" />
        <activity android:name=".FakturPembelianActivity" />
        <activity android:name=".PreviewFakturPenerimaanActivity" />
        <activity android:name=".PusatBantuanPenyimpananActivity" />
        <activity android:name=".StrukPenjualanActivity" />
        <activity android:name=".DetailTransaksiDibatalkanActivity" />
        <activity android:name=".BatalkanTransaksiPembelianActivity" />
        <activity android:name=".DetailSelesaiPembelianActivity" />
        <activity android:name=".PusatBantuanPenjualanActivity" />
        <activity android:name=".PusatBantuanPembelianActivity" />
        <activity android:name=".DetailPemberitahuanActivity" />
        <activity android:name=".PenerimaanActivity" />
        <activity android:name=".DetailProsesPembelianActivity" />
        <activity android:name=".AkunTokoActivity" />
        <activity android:name=".KartuPelangganActivity" />
        <activity android:name=".ListMerekActivity" />
        <activity android:name=".UploadPenerimaanActivity" />
        <activity android:name=".TambahPenyimpananActivity" />
        <activity android:name=".PenyimpananActivity" />
        <activity android:name=".DetailPenjualanActivity" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".LupaPasswordActivity" />
        <activity android:name=".PenjualanActivity" />
        <activity android:name=".PembayaranActivity" />
        <activity android:name=".KeranjangPenjualanActivity" />
        <activity android:name=".TransaksiKodeBarangActivity" />
        <activity android:name=".TransaksiActivity" />
        <activity android:name=".StokActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".TambahBarangActivity" />
        <activity android:name=".BarangActivity" />
        <activity android:name=".TambahPembelianActivity" />
        <activity android:name=".PembelianActivity" />
        <activity android:name=".TambahPemasokActivity" />
        <activity android:name=".TambahPelangganActivity" />
        <activity android:name=".MitraBisnisActivity" />
        <activity android:name=".TambahPegawaiActivity" />
        <activity android:name=".PegawaiActivity" />
        <activity android:name=".GrafikKeuntunganTahunActivity" />
        <activity android:name=".GrafikPenjualanTahunActivity" />
        <activity android:name=".GrafikKeuntunganBulanActivity" />
        <activity android:name=".GrafikPenjualanBulanActivity" />
        <activity android:name=".TentangKamiActivity" />
        <activity android:name=".BantuanActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".NotifikasiActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".LaporanPenjualanActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DaftarActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DummyInsertDataActivity" />

        <!--<service android:name=".Notification.NotificationService" >-->
            <!--<intent-filter>-->

                <!--<action android:name="com.google.firebase.MESSAGIN_EVENT"/>-->
            <!--</intent-filter>-->

        <!--</service>-->
    </application>

</manifest>